NEXT_PUBLIC_SUPABASE_URL=https://gmzvsrutnteuvhxyiyix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtenZzcnV0bnRldXZoeHlpeWl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTMxMTMsImV4cCI6MjA5NDY4OTExM30.hc2Iejo0txGUlpS6nQ3wyx0lnreJGQ_fy8RFiFgTEqA
NEXT_PUBLIC_SUPABASE_BUCKET=pdfs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtenZzcnV0bnRldXZoeHlpeWl4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTExMzExMywiZXhwIjoyMDk0Njg5MTEzfQ.Gg3i_XKNMpt-EgM02g2F9oMCdDVk5t_fJJ0xfM1Xoos